/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06-Nov-2014, 21:55:03
    Author     : john.ralston
*/

.blue {
    color:blue;
}

section {
    padding:3px;
}
section section {
    margin-left:50px;
}

section.meaning {
    background-color:#D8D8D8;
}
section.meaning label {
    font-size: 160%;
}
section.usage {
    background-color:#B8B8B8;
}
section.usage label {
    font-size: 130%;
}

label {
    display:block;
    border:1px solid #eaeaea;
}
label span {
    display:inline-block;
    font-weight: bold;
}
input.short {
    width:20px;
}

.username.ng-valid {
      background-color: lightgreen;
  }
  .username.ng-dirty.ng-invalid-required {
      background-color: red;
  }
.username.ng-dirty.ng-invalid-minlength {
  background-color: yellow;
}




